<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<ul>
    <li>
        <h2>管理慢病报销信息的应用系统，实现慢病报销办理流程电子化，从而提高慢病报销的工作效率。</h2>
    </li>
    <li>
        <h2>(一)项目目标:</h2></li>
    <li>
        本项目的主要目标是：
        <ul>
            <li>（1）系统提供管理全县参合家庭档案信息以及参合农民个人档案信息的功能，方便乡镇农合经办点工作人员维护档案信息和县级新型农村合作医疗管理中心在线查阅农合档案信息。</li>
            <li>（2）系统提供参合缴费管理功能，方便乡镇农合经办点对参合缴费信息的管理。</li>
            <li>（3）系统提供慢病报销功能，方便乡镇农合经办点在线办理慢病报销业务。</li>
            <li>（4）系统提供慢病报销 HIS 接口，能接入第三方 HIS 系统，实现慢病报销的实时结算。</li>
        </ul>
    </li>
    </li>
    <li>
        <h2>(二)项目内容:</h2></li>
    <li>
        本项目主要建设内容描述如下：
        <ul>
            <li>1、基础数据管理模块：该模块主要用于基础数据的维护。
                <ul>
                    <li>
                        （1）角色管理。系统角色分为超级管理员、县合管办领导、县合管办经办人、乡镇农合经办人；超级管理员可以对系统参数进行设置，但不能使用业务功能；县合管办领导可以查
                        看全县所有业务数据；县农合办工作人员可以审核各乡镇的慢病报销记录；乡镇农合办人员
                        只能对本镇内的数据进行管理，包括家庭档案管理、参合缴费登记、慢病证管理、慢病报销、
                        慢病报销记录查询、统计以及导出。
                    </li>
                    <li>（2）用户管理 包括用户的添加、删除、修改、显示用户记录以及分配角色。</li>
                    <li>（3）菜单管理 包括一级、二级功能菜单的添加、删除、修改。</li>
                    <li>（4）农合经办点管理 包括农合经办点的添加、删除、修改、查询。农合经办点信息包括经办机构编码、所属行政编码、经办点名称。每个乡镇只有一个农合经办点。
                        <table style="border: #b3b3b3" border="1px">
                            <tr>
                                <th>所属行政编码</th>
                                <th>经办机构编码</th>
                                <th>机构名称</th>
                                <th>级别</th>
                            </tr>
                            <tr>
                                <td>450421</td>
                                <td>667022793</td>
                                <td>苍梧县新农合管理中心</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>45042101</td>
                                <td>667022793</td>
                                <td>龙圩镇合管办</td>
                                <td>2</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        （5）行政区域管理 包括县、镇、村基本信息的添加、删除、修改。行政区域信息包括行政
                        编码、行政区域名称、级别。一个县有多个乡镇，一个乡镇只属于一个县；一个乡镇有多个
                        村，一个村只属于一个乡镇。
                            <table style="border: #b3b3b3" border="1px">
                            <tr>
                                <th>区域编码</th>
                                <th>区域名称</th>
                                <th>级别</th>
                            </tr>
                            <tr>
                                <td>450421</td>
                                <td>苍梧县</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>45042101</td>
                                <td>龙圩镇</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>4504210101</td>
                                <td>龙圩镇恩义村</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>450421010101</td>
                                <td>龙圩镇恩义村多一组</td>
                                <td>4</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        （6）医疗机构管理 包括苍梧县农合定点医疗机构信息管理。医疗机构信息包括机构代码、
                        组织机构代码、机构名称、地区代码、行政区域编号、隶属关系（见表 2-3-1）、机构级别
                        （见表 2-3-2）、申报定点类型(见表 2-3-3)、批准定点类型(见表 2-3-3)、机构所属经济
                        类型（见表 2-3-4）、卫生机构（组织）大类别（见表 2-3-5）、卫生机构（组织）小类别
                        （见表 2-3-5）、主办（管）单位、开业/成立时间、法定代表人（负责人）、注册资金（万
                        元）。
                    </li>
                    <li>（7）慢性病分类管理 包括慢性疾病信息的添加、删除、修改。慢性疾病信息包括疾病编号、
                        拼音码、疾病名称等。</li>
                </ul>
            </li>
            <li>2、业务功能：该模块包括家庭档案管理、参合登记、慢病证管理、慢病报销、慢病报销记录查
                询等功能。
                <ul>
                    <li>（1）家庭档案管理 乡镇农合办工作人员可以管理本乡镇的家庭档案信息，如创建家
                        庭档案信息、修改家庭档案信息，家庭档案信息包括县级编号、乡镇编号、村编号、组
                        编号、家庭编号、户属性、户主姓名、家庭人口数、农业人口数、家庭住址、创建档案
                        时间、登记员。乡镇农合办人员可以管理某一户的家庭成员信息，包括新增家庭成员信
                        息、删除家庭成员。县级工作人员可以查看各乡镇的家庭档案信息，但是不能修改档案
                        信息。
                            <table style="border: #b3b3b3" border="1px">
                            <tr>
                                <th>县级编码</th>
                                <th>乡镇编码</th>
                                <th>村编码</th>
                                <th>组编号</th>
                                <th>家庭编号</th>
                                <th>户主</th>
                                <th>其他属性</th>
                            </tr>
                            <tr>
                                <td>450421</td>
                                <td>45042101</td>
                                <td>4504210101</td>
                                <td>0、1</td>
                                <td>4504210101010048</td>
                                <td>钟海清</td>
                                <td>...</td>
                            </tr>
                        </table>
                    </li>
                    <li>（2）参合缴费登记。农合缴费以户为单位，每一户的参合缴费总额=户内参合人数*当
                        年缴费标准金。乡镇合管办工作人员登录系统后，输入户主姓名，查找这一户所有家庭
                        成员，选择要参合的人员，完成参合登记并打印缴费凭证单。参合缴费信息包括参合证
                        号、参合发票号、缴费金额、缴费年度、缴费时间、操作员。</li>
                    <li>（3）参合人员档案管理。乡镇农合办工作人员管理家庭成员信息。家庭成员信息包括
                        家庭编号、农合证号、医疗证卡号、户内编号、姓名、与户主关系、身份证号、性别、
                        健康状况、民族、文化程度、年龄、出生日期、人员属性、是否农村户口、职业、工作
                        单位、联系电话、常住地址址、联系方式等。
                        <table border="1px">
                            <tr>
                                <th>家庭编号</th>
                                <th>农合证号</th>
                                <th>医疗证卡号</th>
                                <th>户内编号</th>
                                <th>姓名</th>
                                <th>与户主关系</th>
                                <th>身份证号</th>
                                <th>其他属性</th>
                            </tr>
                            <tr>
                                <td>45042101010
                                    10048</td>
                                <td>45042101
                                    01010048
                                    01</td>
                                <td>45042100
                                    67270</td>
                                <td>01</td>
                                <td>钟海清</td>
                                <td>户主</td>
                                <td>450421195
                                    108247000</td>
                                <td>...</td>
                            </tr>
                        </table>
                    </li>
                    <li>（4）慢性病证管理。 乡镇农合经办人可以管理本乡镇内的慢病证信息，其中包括登
                        记新的慢病证信息，修改参合人员的慢病证登记信息、查找参合人员的慢病证信息、打
                        印慢病证。一个参合人员只能一本慢病证。慢病证信息包括农合证号、慢病证号、身份
                        证号、疾病名称、起始时间、终止时间。</li>
                    <li>（5）慢性政策设置。 县级农合办领导可以调整每年慢性病政策。慢性病政策数据模
                        型包括年度、封顶线、报销比例。</li>
                    <li>（6）慢性病报销。 乡镇农合经办人输入参合农民的身份证号，系统根据身份证号校验
                        该身份证号是否参合，如果未参合，系统提示未参合信息并退出慢病报销功能界面；如
                        果参合，系统自动显示参合农民的基本信息以及本次报销信息的录入界面，农合经办人
                        填写本次报销信息并提交给系统处理。系统校验报销信息是否合法（即本次报销信息是
                        否与慢性病证信息一致），如果合法，乡镇农合经办人确认报销信息并提交系统处理，
                        系统根据当年的慢性病封顶线以及当年慢病累计报销金额，计算本次慢性病报销金额。
                        农合经办人确认本次慢性病报销信息后点击确认，系统完成本次慢性病报销信息。</li>
                    <li>（7）慢性报销统计。统计方式分为按病种统计和按行政区域统计，并能导出统计结果。
                        乡镇农合办经办人只能统计本乡镇内的报销记录，县级农合办工作人可以查看全县范围
                        内的所有记录。</li>
                    <li>（8）慢病报销 HIS 接口。系统内注册的农合定点医疗机构的 HIS 系统能调用农合慢病
                        报销接口实现慢病门诊的实时结算。</li>
                </ul>
            </li>
        </ul>
    </li>
    </li>
</ul>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
    
    <!--<th:block th:include="include :: sparkline-js" />-->
    <script type="text/javascript">
	    $(document).ready(function () {
	        var data2 = [
	            [gd(2012, 1, 1), 7], [gd(2012, 1, 2), 6], [gd(2012, 1, 3), 4], [gd(2012, 1, 4), 8],
	            [gd(2012, 1, 5), 9], [gd(2012, 1, 6), 7], [gd(2012, 1, 7), 5], [gd(2012, 1, 8), 4],
	            [gd(2012, 1, 9), 7], [gd(2012, 1, 10), 8], [gd(2012, 1, 11), 9], [gd(2012, 1, 12), 6],
	            [gd(2012, 1, 13), 4], [gd(2012, 1, 14), 5], [gd(2012, 1, 15), 11], [gd(2012, 1, 16), 8],
	            [gd(2012, 1, 17), 8], [gd(2012, 1, 18), 11], [gd(2012, 1, 19), 11], [gd(2012, 1, 20), 6],
	            [gd(2012, 1, 21), 6], [gd(2012, 1, 22), 8], [gd(2012, 1, 23), 11], [gd(2012, 1, 24), 13],
	            [gd(2012, 1, 25), 7], [gd(2012, 1, 26), 9], [gd(2012, 1, 27), 9], [gd(2012, 1, 28), 8],
	            [gd(2012, 1, 29), 5], [gd(2012, 1, 30), 8], [gd(2012, 1, 31), 25]
	        ];
	
	        var data3 = [
	            [gd(2012, 1, 1), 800], [gd(2012, 1, 2), 500], [gd(2012, 1, 3), 600], [gd(2012, 1, 4), 700],
	            [gd(2012, 1, 5), 500], [gd(2012, 1, 6), 456], [gd(2012, 1, 7), 800], [gd(2012, 1, 8), 589],
	            [gd(2012, 1, 9), 467], [gd(2012, 1, 10), 876], [gd(2012, 1, 11), 689], [gd(2012, 1, 12), 700],
	            [gd(2012, 1, 13), 500], [gd(2012, 1, 14), 600], [gd(2012, 1, 15), 700], [gd(2012, 1, 16), 786],
	            [gd(2012, 1, 17), 345], [gd(2012, 1, 18), 888], [gd(2012, 1, 19), 888], [gd(2012, 1, 20), 888],
	            [gd(2012, 1, 21), 987], [gd(2012, 1, 22), 444], [gd(2012, 1, 23), 999], [gd(2012, 1, 24), 567],
	            [gd(2012, 1, 25), 786], [gd(2012, 1, 26), 666], [gd(2012, 1, 27), 888], [gd(2012, 1, 28), 900],
	            [gd(2012, 1, 29), 178], [gd(2012, 1, 30), 555], [gd(2012, 1, 31), 993]
	        ];
	
	
	        var dataset = [
	            {
	                label: "订单数",
	                data: data3,
	                color: "#1ab394",
	                bars: {
	                    show: true,
	                    align: "center",
	                    barWidth: 24 * 60 * 60 * 600,
	                    lineWidth: 0
	                }
	
	            }, {
	                label: "付款数",
	                data: data2,
	                yaxis: 2,
	                color: "#464f88",
	                lines: {
	                    lineWidth: 1,
	                    show: true,
	                    fill: true,
	                    fillColor: {
	                        colors: [{
	                            opacity: 0.2
	                        }, {
	                            opacity: 0.2
	                        }]
	                    }
	                },
	                splines: {
	                    show: false,
	                    tension: 0.6,
	                    lineWidth: 1,
	                    fill: 0.1
	                },
	            }
	        ];
	
	
	        var options = {
	            xaxis: {
	                mode: "time",
	                tickSize: [3, "day"],
	                tickLength: 0,
	                axisLabel: "Date",
	                axisLabelUseCanvas: true,
	                axisLabelFontSizePixels: 12,
	                axisLabelFontFamily: 'Arial',
	                axisLabelPadding: 10,
	                color: "#838383"
	            },
	            yaxes: [{
	                    position: "left",
	                    max: 1070,
	                    color: "#838383",
	                    axisLabelUseCanvas: true,
	                    axisLabelFontSizePixels: 12,
	                    axisLabelFontFamily: 'Arial',
	                    axisLabelPadding: 3
	            }, {
	                    position: "right",
	                    clolor: "#838383",
	                    axisLabelUseCanvas: true,
	                    axisLabelFontSizePixels: 12,
	                    axisLabelFontFamily: ' Arial',
	                    axisLabelPadding: 67
	            }
	            ],
	            legend: {
	                noColumns: 1,
	                labelBoxBorderColor: "#000000",
	                position: "nw"
	            },
	            grid: {
	                hoverable: false,
	                borderWidth: 0,
	                color: '#838383'
	            }
	        };
	
	        function gd(year, month, day) {
	            return new Date(year, month - 1, day).getTime();
	        }
	
	        var previousPoint = null,
	            previousLabel = null;
	
	        $.plot($("#flot-dashboard-chart"), dataset, options);
	    });
    </script>
</body>
</html>
