<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxuwz.medical.mapper.TMedicalMapper">
    
    <resultMap type="com.gxuwz.medical.domain.TMedical" id="TMedicalResult">
        <result property="jgbm"    column="jgbm"    />
        <result property="zzjgbm"    column="zzjgbm"    />
        <result property="jgmc"    column="jgmc"    />
        <result property="dqbm"    column="dqbm"    />
        <result property="areacode"    column="areacode"    />
        <result property="lsgx"    column="lsgx"    />
        <result property="jgjb"    column="jgjb"    />
        <result property="sbddlx"    column="sbddlx"    />
        <result property="pzddlx"    column="pzddlx"    />
        <result property="ssjjlx"    column="ssjjlx"    />
        <result property="wsjgdl"    column="wsjgdl"    />
        <result property="wsjgxl"    column="wsjgxl"    />
        <result property="zgdw"    column="zgdw"    />
        <result property="kysj"    column="kysj"    />
        <result property="frdb"    column="frdb"    />
        <result property="zczj"    column="zczj"    />
    </resultMap>

    <sql id="selectTMedicalVo">
        select jgbm, zzjgbm, jgmc, dqbm, areacode, lsgx, jgjb, sbddlx, pzddlx, ssjjlx, wsjgdl, wsjgxl, zgdw, kysj, frdb, zczj from t_medical
    </sql>

    <select id="selectTMedicalList" parameterType="com.gxuwz.medical.domain.TMedical" resultMap="TMedicalResult">
        <include refid="selectTMedicalVo"/>
        <where>  
            <if test="zzjgbm != null  and zzjgbm != ''"> and zzjgbm = #{zzjgbm}</if>
            <if test="jgmc != null  and jgmc != ''"> and jgmc = #{jgmc}</if>
            <if test="dqbm != null  and dqbm != ''"> and dqbm = #{dqbm}</if>
            <if test="areacode != null  and areacode != ''"> and areacode = #{areacode}</if>
            <if test="lsgx != null  and lsgx != ''"> and lsgx = #{lsgx}</if>
            <if test="jgjb != null  and jgjb != ''"> and jgjb = #{jgjb}</if>
            <if test="sbddlx != null  and sbddlx != ''"> and sbddlx = #{sbddlx}</if>
            <if test="pzddlx != null  and pzddlx != ''"> and pzddlx = #{pzddlx}</if>
            <if test="ssjjlx != null  and ssjjlx != ''"> and ssjjlx = #{ssjjlx}</if>
            <if test="wsjgdl != null  and wsjgdl != ''"> and wsjgdl = #{wsjgdl}</if>
            <if test="wsjgxl != null  and wsjgxl != ''"> and wsjgxl = #{wsjgxl}</if>
            <if test="zgdw != null  and zgdw != ''"> and zgdw = #{zgdw}</if>
            <if test="kysj != null  and kysj != ''"> and kysj = #{kysj}</if>
            <if test="frdb != null  and frdb != ''"> and frdb = #{frdb}</if>
            <if test="zczj != null "> and zczj = #{zczj}</if>
        </where>
    </select>
    
    <select id="selectTMedicalById" parameterType="String" resultMap="TMedicalResult">
        <include refid="selectTMedicalVo"/>
        where jgbm = #{jgbm}
    </select>
        
    <insert id="insertTMedical" parameterType="com.gxuwz.medical.domain.TMedical">
        insert into t_medical
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jgbm != null  and jgbm != ''">jgbm,</if>
            <if test="zzjgbm != null  and zzjgbm != ''">zzjgbm,</if>
            <if test="jgmc != null  and jgmc != ''">jgmc,</if>
            <if test="dqbm != null  and dqbm != ''">dqbm,</if>
            <if test="areacode != null  and areacode != ''">areacode,</if>
            <if test="lsgx != null  and lsgx != ''">lsgx,</if>
            <if test="jgjb != null  and jgjb != ''">jgjb,</if>
            <if test="sbddlx != null  and sbddlx != ''">sbddlx,</if>
            <if test="pzddlx != null  and pzddlx != ''">pzddlx,</if>
            <if test="ssjjlx != null  and ssjjlx != ''">ssjjlx,</if>
            <if test="wsjgdl != null  and wsjgdl != ''">wsjgdl,</if>
            <if test="wsjgxl != null  and wsjgxl != ''">wsjgxl,</if>
            <if test="zgdw != null  and zgdw != ''">zgdw,</if>
            <if test="kysj != null  and kysj != ''">kysj,</if>
            <if test="frdb != null  and frdb != ''">frdb,</if>
            <if test="zczj != null ">zczj,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jgbm != null  and jgbm != ''">#{jgbm},</if>
            <if test="zzjgbm != null  and zzjgbm != ''">#{zzjgbm},</if>
            <if test="jgmc != null  and jgmc != ''">#{jgmc},</if>
            <if test="dqbm != null  and dqbm != ''">#{dqbm},</if>
            <if test="areacode != null  and areacode != ''">#{areacode},</if>
            <if test="lsgx != null  and lsgx != ''">#{lsgx},</if>
            <if test="jgjb != null  and jgjb != ''">#{jgjb},</if>
            <if test="sbddlx != null  and sbddlx != ''">#{sbddlx},</if>
            <if test="pzddlx != null  and pzddlx != ''">#{pzddlx},</if>
            <if test="ssjjlx != null  and ssjjlx != ''">#{ssjjlx},</if>
            <if test="wsjgdl != null  and wsjgdl != ''">#{wsjgdl},</if>
            <if test="wsjgxl != null  and wsjgxl != ''">#{wsjgxl},</if>
            <if test="zgdw != null  and zgdw != ''">#{zgdw},</if>
            <if test="kysj != null  and kysj != ''">#{kysj},</if>
            <if test="frdb != null  and frdb != ''">#{frdb},</if>
            <if test="zczj != null ">#{zczj},</if>
         </trim>
    </insert>

    <update id="updateTMedical" parameterType="com.gxuwz.medical.domain.TMedical">
        update t_medical
        <trim prefix="SET" suffixOverrides=",">
            <if test="zzjgbm != null  and zzjgbm != ''">zzjgbm = #{zzjgbm},</if>
            <if test="jgmc != null  and jgmc != ''">jgmc = #{jgmc},</if>
            <if test="dqbm != null  and dqbm != ''">dqbm = #{dqbm},</if>
            <if test="areacode != null  and areacode != ''">areacode = #{areacode},</if>
            <if test="lsgx != null  and lsgx != ''">lsgx = #{lsgx},</if>
            <if test="jgjb != null  and jgjb != ''">jgjb = #{jgjb},</if>
            <if test="sbddlx != null  and sbddlx != ''">sbddlx = #{sbddlx},</if>
            <if test="pzddlx != null  and pzddlx != ''">pzddlx = #{pzddlx},</if>
            <if test="ssjjlx != null  and ssjjlx != ''">ssjjlx = #{ssjjlx},</if>
            <if test="wsjgdl != null  and wsjgdl != ''">wsjgdl = #{wsjgdl},</if>
            <if test="wsjgxl != null  and wsjgxl != ''">wsjgxl = #{wsjgxl},</if>
            <if test="zgdw != null  and zgdw != ''">zgdw = #{zgdw},</if>
            <if test="kysj != null  and kysj != ''">kysj = #{kysj},</if>
            <if test="frdb != null  and frdb != ''">frdb = #{frdb},</if>
            <if test="zczj != null ">zczj = #{zczj},</if>
        </trim>
        where jgbm = #{jgbm}
    </update>

    <delete id="deleteTMedicalById" parameterType="String">
        delete from t_medical where jgbm = #{jgbm}
    </delete>

    <delete id="deleteTMedicalByIds" parameterType="String">
        delete from t_medical where jgbm in 
        <foreach item="jgbm" collection="array" open="(" separator="," close=")">
            #{jgbm}
        </foreach>
    </delete>
    
</mapper>